<style>
tr.group0 { background: #bbb;}

tr.groupHeader1 { background: #ddd;}
tr.group1 { background: #ddd;}


table tr td {
  padding: 0 15px;
  border: 1px solid #eee;
  text-align: left;
}
table tr th { 
  padding: 5px 15px;
  border: 1px solid #eee;
  text-align: left;
}
table {border: 1px solid #ddd}
.columnTitle { border-bottom: 1px solid #ddd; text-decoration: underline}

</style>
<h2>Management Reports</h2>

<p>
  <form>
  <%= hidden_field_tag 'project_id', params[:project_id] %>
  Range:
  <%= text_field_tag 'from', params[:from] || Date.current - 7%>
  -
  <%= text_field_tag 'to', params[:to] || Date.current - 1 %>
  
  Versions: <%= select_tag :versions, "<option value='' Selected>Remaining Versions</option>"+options_for_select(@active_versions.map{|v| [v.name, v.id]}), :multiple => true, :size => 10 %>
  <%= submit_tag 'Update' %>
  </form>
</p>

<h3>Worked on, New or Remaining Features & Issues</h3>
<%= Munger::Render.to_html(@reportable_issues_report, :classes => {:table => 'list'}) %>
<p>&nbsp;</p>
